$bank-logo-image: url("../../images//sprites/all-banks.png");

$bank-logo-names: (
  mandiri,
  bri,
  bri_syr,
  bni,
  bca,
  bca_syr,
  bsm,
  cimb,
  muamalat,
  tabungan_pensiunan_nasional,
  permata,
  danamon,
  bii,
  panin,
  uob,
  ocbc,
  citibank,
  artha,
  tokyo,
  dbs,
  standard_chartered,
  capital,
  anz,
  boc,
  bumi_arta,
  hsbc,
  rabobank,
  mayapada,
  bjb,
  bjb_syr,
  dki,
  daerah_istimewa,
  jawa_tengah,
  jawa_timur,
  jambi,
  sumut,
  sumatera_barat,
  riau_dan_kepri,
  sumsel_dan_babel,
  lampung,
  kalimantan_selatan,
  kalimantan_barat,
  kalimantan_timur,
  kalimantan_tengah,
  sulselbar,
  sulut,
  nusa_tenggara_barat,
  bali,
  nusa_tenggara_timur,
  maluku,
  papua,
  bengkulu,
  sulawesi,
  sulawesi_tenggara,
  nusantara_parahyangan,
  india,
  mestika_dharma,
  sinarmas,
  maspion,
  ganesha,
  icbc,
  qnb_kesawan,
  btn,
  woori,
  mega,
  bukopin,
  jasa_jakarta,
  hana,
  mnc_internasional,
  agroniaga,
  sbi_indonesia,
  royal,
  nationalnobu,
  mega_syr,
  ina_perdana,
  sahabat_sampoerna,
  kesejahteraan_ekonomi,
  artos,
  mayora,
  index_selindo,
  victoria_internasional,
  agris,
  chinatrust,
  commonwealth,
  ccb,
  danamon_syr,
  victoria_syr,
  banten,
  mutiara,
  panin_syr
) !default;

.c-bank-logo {
  background-size: 100% auto;
  background-image: $bank-logo-image;
  background-repeat: no-repeat;
  display: inline-block;
  height: 55px;
  width: 128px;

  &--tiny {
    background-size: 32.5px auto;
    height: 14px;
    width: 32px;
  }

  &--small {
    background-size: 69.8px auto;
    height: 30px;
    width: 70px;
  }
}

@for $i from 1 through length($bank-logo-names) {
  $bank: nth($bank-logo-names, $i);

  .c-bank-logo--#{$bank} {
    background-position: 0 #{($i - 1) * 55px * (-1)};
  }

  .c-bank-logo--tiny.c-bank-logo--#{$bank} {
    background-position: 0 #{(($i - 1) * 14px * (-1)) + 2px};
  }

  .c-bank-logo--small.c-bank-logo--#{$bank} {
    background-position: 0 #{($i - 1) * 30px * (-1)};
  }
}
