@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

$global-font-family: Lato, Helvetica, Arial, sans-serif !important;

$global-font-size: 0.875rem !default;
$global-font-weight: normal !default;
$global-line-height: 1.5 !default;

$global-font-weight-light: 300;
$global-font-weight-normal: 400;
$global-font-weight-bold: 700;

$global-font-weight: (
  light: 300,
  normal: 400,
  bold: 700
);

/*
* Assume root font size: 16px
*
* label: 9px
* tiny: 11px
* small: 12px
* semi: 13px
* base: 14px
* medium: 16px
* large: 18px
* huge: 28px
*/
$global-font-size: (
  label: 0.5625rem,
  tiny: 0.6875rem,
  small: 0.75rem,
  semi: 0.8125rem,
  base: $global-font-size,
  medium: 1rem,
  large: 1.125rem,
  huge: 1.75rem
);
